@{
    ViewBag.Title = "MassTransit/RabbitMQ/StructureMap Samples";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                To learn more about MassTransit visit
                <a href="http://masstransit-project.com/" title="MassTransit Website">http://masstransit-project.com/</a>.
                The page features <mark>samples</mark> to help you get the most from MassTransit.
            </p>
        </div>
    </section>
}
<h3>Samples:</h3>
<ol class="round">
	<li class="one">
		<p>@Html.ActionLink("Multilpe Consumer Sample", "MultipleConsumer", "Publish")</p>
	</li>

	<li class="two">
		@Html.ActionLink("Competing Consumer Sample", "CompetingConsumer", "Publish")
	</li>
</ol>
