@model Publisher.Models.MultipleConsumerModel

@{
	ViewBag.Title = "Multiple Consumer Example";
}

<h2>Multiple Consumer Example</h2>

@{ Html.BeginForm("MultipleConsumer", "Publish", FormMethod.Post);}

<p>First Name: @Html.TextBoxFor(x => x.FirstName)</p>
<p>Last Name: @Html.TextBoxFor(x => x.LastName)</p>
<p><input type="submit" /></p>

@{Html.EndForm();}